.techniques {
  width: 80%;
  margin:0 auto 0;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.cards {
  width: 920px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid red;
}

.cards__item {
  /*
  .demo__item:nth-of-type(2n) {
    margin-right: 0;
  }

  .demo__item:first-of-type, .demo__item:nth-of-type(2) {
    margin-top: 0;
  }
  */
  width: calc(100% / 3 - 100px);
  margin-right: 90px;
  border: 1px solid red;
}

.cards__image {
  height: 160px;
  width: 160px;
  margin: 60px 40px 0;
  border: 1px solid red;
}

.cards__title {
  margin-top: 43px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid red;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0 0;
  text-align: center;
  border: 1px solid red;
}

.video {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50 auto 0;
}

.video__iframes {
  margin-top: 50px;
  width: 515px;
  height: 316px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video__iframe {

  margin-right: 20px;
}

/*.resources__logo-zone {
<div class="resources__logo-zone">
        <img class="resources__logo" src="images/resources-arzamas.svg" alt="">
      </div>
}*/

